body {
    background-color: #e9e9e9;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}
#top-nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #000000;
    z-index: 9999;
}

#top-nav ul {
    list-style-type: none;
    margin: 0;
}

#top-nav li {
    float:left;
    border-left: .5px solid #fff;
}

#top-nav li:first-child {
    border-left: none;
}

#top-nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 24px;
    text-align: center;
    font-size: 14px;
}

#top-nav a:hover {
    background-color: #455A64;
}

.active {
    background-color: #455A64;
}

/* slideshow css */

.slideshow {
    background-color: black;
    position: relative;
    height: 450px;
    width: 100%;
}

.slide-image {
    display: none;
}

.slide-image:first-child {
    display: block;
}

.slide-image img {
    
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 350px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide-image br {
    height: 10%;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    color: white;
    font-size: 30px;
    padding: 15px;
    top: 50%;
    border-radius: 20px;
}

.previous {
    margin-left: 20px;
}

.next {
    right: 0;
    margin-right: 20px;
}

.previous:hover, .next:hover {
    background-color: #3a3a3a;
}

.caption {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    bottom: 10px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: gray;
    opacity: 25%;
    display: inline-block;
    border-radius: 50%;
}

#dot-div {
    background-color: black;
}

.active, .dot:hover {
    opacity: 75%;
}
/* Slideshow animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

/* Welcome section */

#welcome {
    color: #525564;
    margin: -40px 0px -40px 0px;
    padding: 20px;
}

#welcome h1 {
    font-size: 60px;
}

