/* main */

body {
    background-color: #f5f4f4;
    color: #e9e9e9;
    font-family: helvetica, arial;
    margin: 0;
    border: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    
}

/* top nav bar */

#top-nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #000;
    z-index: 9999;
    height: 10vh;
}

#top-nav ul {
    list-style-type: none;
    margin: 0;
}

#top-nav li {
    float:left;
}

#top-nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5vh 24px 10px 24px;
    text-align: center;
    font-size: 14px;
    height: 10vh;
}


#top-nav a:hover {
    background-color: #393d52;
}

#top-nav a.no-hover:hover {
    background-color: #000;
}


#top-nav .nav-active {
    background-color: #393d52;
}

#top-nav img{
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
}

/* bottom nav bar */

#bottom-nav {
    color: rgb(86, 102, 136);
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 0;
    background-color: #e9e9e9;
}

/* slideshow css */

.slideshow {
    background-color: black;
    position: relative;
    height: 100vh;
    width: 100%;
}

.slide-image {
    display: none;
}

.slide-image:first-child {
    display: block;
}

.slide-image img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 350px;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide-image br {
    height: 10%;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    color: white;
    font-size: 40px;
    padding: 15px;
    top: 50%;
    border-radius: 100px;

}

.previous {
    margin-left: 20px;
}

.next {
    right: 0;
    margin-right: 20px;
}

.previous:hover, .next:hover {
    background-color: #3a3a3a;
}

.caption {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    bottom: 10px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: rgb(109, 109, 109);
    opacity: 25%;
    display: inline-block;
    border-radius: 50%;
}

#dot-div {
    background-color: black;
}

.active, .dot:hover {
    opacity: 75%;
}

/* Slideshow animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

/* Welcome section */

.container {
    display: flex;
}

#welcome {
    color: #46505a;
    padding: 0px 20px 20px 60px;
    position: relative;
}

#welcome h1 {
    font-size: 55px;
}

#welcome p {
    line-height: 2;
    padding: 0px 100px 0px 20px;
    color: #48515a;
    text-indent: 50px;
    text-align: justify;
    font-size: 18px;
}

#astronomy-desk {
    width: 400px;
    height: 350px;
    box-shadow: 5px 5px 5px gray, -5px 5px 5px gray;
}

/* Our goals section */

#our-goals {
    background-color: #1a1b1f;
    padding: 10vw;
}


#our-goals h1, #join-us h1 {
    font-size: 45px;
}

#our-goals ul {
    list-style: none;
}

#our-goals li {
    line-height: 2;
    font-size: 30px;
    color: #ecf3ff;
    
}

#our-goals p {
    padding-left: 15%;
    padding-right: 10%;
    line-height: 2;
    color: #95a1c5;
}

.fas {
    color: #6c85b3;
    padding: 20px;
    height: 50px;
    width: 50px;
}

.card {
    background-color: #1a1b1f;
    padding: 10px;
    margin-bottom: 10vh;
    box-shadow: 3px 3px 3px #1a1b1f;
    border-style: solid;
    border-color: #373b47;
    border-width: 3px;
}

/* Join us section */

#join-us {
    background-color: #f3f3f3;
    padding: 20px 20px 50px 20px;
    display: block;
    text-align: center;
    color: #708090;

}

/* ----- Other Pages ----- */

.page-heading {
    padding: 30px 0px 0px 40px;
    color: #393d52;
    font-size: 45px;
}

/* events page */

#events-body {
    background-color: #1a1b1f;
    text-align: center;
    color: #e2e2e2;
    margin: 50px;
    padding: 30px;
    height: 70vh;
    border-radius: 10px;
    border-color: #6c85b3;
    border-width: 2px;
    border-style: outset;
}

/* about page */

#about-body {
    color: #393d52;
    line-height: 1.5;
    padding: 10vw;
}

#about-body h3 {
    color: #e9e9e9;
}

.officer-card {
    color: #6c7591;
    background-color: #1a1b1f;
    padding: 10px 60px 20px 30px;
    border-radius: 8px;
    border-color: #6c85b3;
    border-width: 2px;
    border-style: outset;
    margin-bottom: 10vh;
}

.officer-card p:last-child {
    color: #6c85b3;
}

/* gallery page */

#gallery-body {
    margin: 50px;
    color: #393d52;
    text-align: center;
}

#gallery-body img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gallery-body p {
    font-size: 12px;
    margin-bottom: 30px;
    color: #48515a;
}

/* mobile screens */

@media only screen and (min-width: 320px) {

    .slideshow {
        height: 500px;
    }

    .container {
        display: block;
    }

    #welcome p, #our-goals p, #join-us p {
        font-size: 20px;
    }
    
    #welcome h1 {
        font-size: 40px;
    }

    #welcome img {
        width: 70%;
        height: auto;
        margin-left: 10%;
    }
    
    #our-goals ul {
        padding-left: 5px;
        padding-right: 5px;
    }
  }